header .contenedor {
    display: flex;
}

header .contenedor .buscador-usuario {
    display: flex;
    justify-content: space-between;
    width: 1920px;
}

        /* BUSCADOR */
header .contenedor .buscador-usuario .buscador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    gap: 10px;
    margin-left:15px;
}

header .buscador-usuario .buscador img {
    width: 20px;
    height: 20px;
}


        /* USUARIOS */
header .contenedor .buscador-usuario .usuario .bienvenida {
    width: 100px;
    display: flex;
}

header .contenedor .buscador-usuario .usuario .ingresar {
    width: 160px;
}

header .contenedor .buscador-usuario .usuario .registro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header .contenedor .buscador-usuario .usuario {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: end;
    margin-right: 15px;
}

header .contenedor .buscador-usuario .usuario .ingresar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}





header .buscador-usuario .usuario img {
    width: 25px;
    height: 25px;
}





header .noticias {
    background-color: rgba(55, 252, 203, 0.877);
    height: 15px;
    text-align: center;
}












        /* LOGO */
header .logo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
